body {
	background-color: lightgrey;
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: Ningst;
    font-weight: bold;
    src: url("./public/font/Ningst_Only_Peace/Ningst_Only_Peace_Font.otf") format("opentype");
}

#form-page {
	display: flex;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url("./public/images/assurance-vie.jpg");
	background-size: cover;
	height: 100vh;
}

.banner {
	background-color: #27272740;
	color: black;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin-top: 25vh;
	padding: 2em;
}

.service-title {
	font-family: Ningst;
	font-size: 4em;
}

footer {
	text-align: center;
}

.content {
	display: flex;
	flex-direction: column;
	padding: 3em;
	background-color: white;
	flex-grow: 2;
}

.text-header {
	margin-top: 20vh;
}

#form {
	display: flex;
	gap: 2em;
}

.form-left, .form-right {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.input-section {
	display: flex;
	flex-direction: column;
}

.input-section > label {
	font-size: 12px;
	color: #800080;
	margin-bottom: 0.4em;
}

.input-section > input {
	border-radius: 5px;
	border: "solid 1px #CBC3E320";
	padding: 0.4em;
}

.input-section > input:focus {
	border-radius: 5px;
	border: "solid 1px #CBC3E380";
	box-shadow: 10px 5px 5px rgba(0, 0, 255, .2);
	padding: 0.4em;
}

input[type="password"] {




.submit-section {
	margin-top: 2em;
}

button[type="submit"] {
	background-color: #CBC3E3;
	height: 3em;
	width: 200px;
	border-radius: 10px;
	font-weight: bold;
}

button[type="submit"]:hover {
	cursor:pointer;
	background-color: #CBC3E390
}

.signup {
	margin-top: 1em;
}
